{
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^(?!.*(?:\\.|@|scss|css|shared)).*",
    "shared/",
    "(stores/|services/)",
    "/hooks",
    "/components",
    "@",
    "^\\.(?!.*(?:scss|css)).*",
    ".*"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "tsx", "typescript"]
}
